.fluid-container{
    background-color: #1c2833 !important;
    min-height: auto;
    padding: 0px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.elements-center{
    height: auto;
    color: white;
}

.bienvenida{
    min-width: 100%;
}